In [1]:
import pandas as pd 
data = pd.read_csv('usa1.csv')

In [2]:
data.head()

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STRATA,GQ,ACREHOUS,PROPTX99,...,RACED,HISPAN,HISPAND,CITIZEN,LANGUAGE,LANGUAGED,SPEAKENG,EDUC,EDUCD,FTOTINC
0,2018,201801,1,2018010000049,75.0,2018000000011,160001,4,0,0,...,100,0,0,0,1,100,3,6,65,9999999
1,2018,201801,2,2018010000058,75.0,2018000000021,190001,4,0,0,...,200,0,0,0,1,100,3,6,65,9999999
2,2018,201801,3,2018010000219,118.0,2018000000031,200001,3,0,0,...,100,1,100,0,12,1200,5,6,64,9999999
3,2018,201801,4,2018010000246,43.0,2018000000041,240001,3,0,0,...,100,0,0,0,1,100,3,7,71,9999999
4,2018,201801,5,2018010000251,16.0,2018000000051,270101,3,0,0,...,100,0,0,0,1,100,3,3,30,9999999

In [20]:
len(data)

3214539

In [12]:
s = {}
s[0] = 0
s[1] = 0
s[2] = 0
for status in data['FOODSTMP'].to_list():
    s[status] += 1
s

{0: 0, 1: 2833160, 2: 381379}

In [17]:
multi = {}
for multistatus in data['MULTGEN'].to_list():
    if multistatus in multi.keys():
        multi[multistatus] += 1
    else:
        multi[multistatus] = 1
multi

{0: 153475, 1: 1215999, 2: 1604083, 3: 240982}

In [18]:
citizenship = {}
for c in data['CITIZEN'].to_list():
    if c in citizenship.keys():
        citizenship[c] += 1
    else:
        citizenship[c] = 1
citizenship

{0: 2805714, 2: 209000, 3: 169279, 1: 30546}

In [19]:
speakeng = {}
for c in data['SPEAKENG'].to_list():
    if c in speakeng.keys():
        speakeng[c] += 1
    else:
        speakeng[c] = 1
speakeng

{3: 2489846, 5: 110984, 4: 351477, 6: 71848, 1: 28057, 0: 162327}

In [14]:
list(data.columns)

['YEAR',
 'SAMPLE',
 'SERIAL',
 'CBSERIAL',
 'HHWT',
 'CLUSTER',
 'STRATA',
 'GQ',
 'ACREHOUS',
 'PROPTX99',
 'HHINCOME',
 'FOODSTMP',
 'VALUEH',
 'ROOMS',
 'MULTGEN',
 'MULTGEND',
 'PERNUM',
 'PERWT',
 'FAMSIZE',
 'NSIBS',
 'RACE',
 'RACED',
 'HISPAN',
 'HISPAND',
 'CITIZEN',
 'LANGUAGE',
 'LANGUAGED',
 'SPEAKENG',
 'EDUC',
 'EDUCD',
 'FTOTINC']